<%- include("partials/header") %>

    <main role="main">
        <div class="container">
            <%- include("partials/messages") %>
            <div>
                <form action="/admin", method="POST">
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" type="text" name="newcategory"
                         id="newcategory" placeholder="Category Name">
                        </div>
                        <div class="col">
                            <button class="btn bg-steel text-white">+ Add Category</button>
                        </div>
                    </div>

                </form>
            </div>
            <br>
            <div>
                <div class="row">
                    <% colors=["#e63946", "#f48c06", "#3f37c9", "#1d3557"] %>
                    <% var cc=0; %>
                    <% cat.forEach(c => { %>
                        <% cc++; %>
                        <div class="col-md-3">
                            <p style="background-color: <%= colors[cc%4] %>;" class="text-white content-section text-center">
                                <%= c.categoryName %>
                            </p>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>



        </div>
    </main>

    <%- include("partials/footer") %>
