<%- include("partials/header") -%>

    <main role="main">

        <!-- question -->

        <div class="container col-md-8">
            <%- include("partials/messages") %>
                <h4>
                    <%- question.ques %>
                </h4>
                <hr>

                <form action="/question/answer/<%= question._id %> " method="POST">

                    <div class="form-group">
                        <label for="postBody">Answer</label>
                        <textarea name="postBody" id="myTextarea"></textarea>
                    </div>

                    <button class="btn text-white mr-2 mybtn bg-blue" type="submit" name="publish" value="<%= question._id %>">Publish</button>
                    <a href="/" class="text-white btn bg-red mybtn">Cancel</a>
                </form>

        </div>

    </main>

    <%- include("partials/footer") -%>
