<%- include("partials/header") -%>


    <main role="main" class="container">
        <div class="row">
            <!-- Sidebar -->

            <div class="col-md-3">
                <div class="category-section">
                    <form action="/" method="POST">
                        <button class="text-left btn btn-link category-link">Technology</button><br>
                        <button class="text-left btn btn-link category-link">Marketing</button><br>
                        <button class="text-left btn btn-link category-link">Business Strategy</button><br>
                        <button class="text-left btn btn-link category-link">Finance</button><br>
                    </form>
                </div>
            </div>

            <div class="col-md-9">
                <!-- Alert -->

                <!-- Content -->
                <h1 class="article-title">
                    <%= category %>
                </h1>
                <hr>
                <% for (var i=0; i<questions.length; i++) { %>
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="/media/default_profile.jpg">
                        <div class="media-body">
                            <div class="article-metadata border-bottom">
                                <a class="mr-2" href="#">
                                    <%= questions[i].postedBy %>
                                </a>
                                <small class="text-muted"><%= questions[i].date %></small>
                            </div>
                            <h4>
                                <a class="article-title" href="/question/<%=questions[i].id %>">
                                    <%= questions[i].question %>
                                </a>
                            </h4>
                        </div>
                    </article>
                    <% } %>
            </div>

        </div>
    </main>


    <%- include("partials/footer") -%>