<%- include("partials/header") -%>


    <main role="main" class="container">

        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <div class="category-section">
                    <% categories.forEach(category => { %>
                        <div class="lbtn">
                        <a href="/question/category/<%= category.categoryName %>"><%= category.categoryName %></a><br>
                        </div>
                    <% }); %>
                </div>
            </div>

            <div class="col-md-9">
                <!-- Alert -->
                <%- include("partials/toast") %>
                <!-- Content -->
                <h1 class="article-title">
                    Questions
                </h1>
                <hr>
                <% questions.forEach(question => { %>
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="/media/default_profile.jpg">
                        <div class="media-body">
                            <div class="article-metadata border-bottom">
                                <a class="mr-2 text-primary">
                                    <%= question.owner %>
                                </a>
                                <% const options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
                                <small class="text-muted"><%= question.postedDate.toLocaleDateString("en-US", options) %></small>
                            </div>
                            <h4>
                                <a class="article-title" href="/question/<%=question._id %>">
                                    <%= question.ques %>
                                </a>
                            </h4>
                        </div>
                    </article>
                    <% }) %>
            </div>

        </div>

    </main>


    <%- include("partials/footer") -%>
