<%- include("partials/header") -%>

    <main role="main">

        <div class="container">
            <div class="row">
                <div class="col-md-4 content-section">

                    <div class="text-center">
                        <img class="mt-4 mb-4 rounded-circle profile-img" src="<%= userdata.img %>">
                        <h5>
                            <%= userdata.username %>
                        </h5>
                        <p>
                            <% userdata.skills.forEach(skill => { %>

                                <%= skill %>

                                    <% }) %>
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <form action="">
                            <div class="text-left form-group">
                                <label for="profpic">Your Image</label>
                                <input type="file" class="form-control-file" id="profpic">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="" id="" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="" id="" placeholder="Skills">
                            </div>
                            <!-- --- Interests --- -->
                            <h6 class="text-left">Interests</h6>
                            <% cat.forEach(c => { %>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1"><%= c %></label>
                                </div>
                                <% }); %>
                                    <br><br>
                                    <button class="btn mybtn btn-warning" type="submit">Update</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-8">
                    <h2>Ratings</h2>
                </div>
            </div>
        </div>
    </main>

    <%- include("partials/footer") -%>