<%- include("partials/header") %>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-9 verticle-line">
                <article class="media">
                    <img class="rounded-circle article-img" src="/media/default_profile.jpg">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">
                                <%= question.postedBy %>
                            </a>
                            <small class="text-muted"><%= question.date %></small>
                        </div>
                        <h2>
                            <p class="article-title" href="/question/<%=question.id %>">
                                <%= question.question %>
                            </p>
                        </h2>
                    </div>

                </article><br>

                <a class="btn btn-primary mybtn" href="/answer/<%= question.id %>">Answer</a>


                <hr>
                <% question.answer.forEach(answer => { %>
                    <div class="content-section">

                        <article class="media">
                            <img class="rounded-circle article-img" src="/media/default_profile.jpg">
                            <div class="media-body">
                                <div class="article-metadata border-bottom">
                                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">
                                        <%= answer.answered_by %>
                                    </a>
                                    <small class="text-muted"><%= answer.answered_date %></small>

                                </div>
                                <p>
                                    <%= answer.answers %>
                                </p>
                            </div>
                        </article>
                        <div class="row">
                            <div class="col">
                                <form class="">
                                    <button onclick="toggle(this.name)" class="btn-link btn" name="like" value="<%= answer.id %>"><i id="like" class="comment-icons far fa-thumbs-up"></i></button>
                                    <button onclick="toggle(this.name)" class="btn btn-link" name="dislike" value="<%= answer.id %>"><i id="dislike" class="comment-icons far fa-thumbs-down"></i></button>
                                </form>
                            </div>
                            <div>
                                <button onclick="commentToogle(this.name)" name="comment-section-<%= answer.id %>" class="mr-2 btn btn-link"><i class="comment-icons far fa-comment-alt"></i></button>
                                <a class="float-right btn btn-sm mr-3 btn-danger" href="report/<%= answer.id %>">Report</a>

                            </div>


                        </div>

                        <div style="display: none;" id="comment-section-<%= answer.id  %>" class="mt-3 content-section">
                            <div class="container">
                                <h5>Comments</h5>
                                <!-- <hr> -->
                                <form action="">
                                    <div class="form-row">
                                        <div class="col">
                                            <input class="form-control mr-2 btn-sm" placeholder="Write your comment here." type="text" name="" id="">
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-info mybtn btn-sm">Submit</button>
                                        </div>
                                    </div>

                                </form>
                                <hr>
                                <% comments = ["Comment #1", "Comment #2", "Comment #3"] %>

                                    <% comments.forEach(comment => { %>
                                        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">HarshitSP</a>
                                        <small class="text-muted"></small>
                                        <p>
                                            <%= comment %>
                                        </p>
                                        <% }); %>
                            </div>
                        </div>
                    </div>

                    <% }); %>


            </div>


            <div class="col-md-3">
                <div class="content-section category-section">
                    <h4>Related Questions</h4>
                    <hr>
                    <form action="/" method="POST">
                        <% ques = "How can I implement 'read more' in my webpage? How can I implement 'read more' in my webpage?" %>
                            <button style="width: 100%;" class="btn btn-link"><%= ques.substring(0,35) + " ..."  %></button><br>
                            <button style="width: 100%;" class="btn btn-link"><%= ques.substring(0,35) + " ..."  %></button><br>
                    </form>
                </div>
            </div>

        </div>



    </main>

    <!-- <script>
        function commentToogle(num) {
            console.log(num);
            console.log("comment-section" + num);
            var x = document.getElementById(num);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script> -->
    <%- include("partials/footer") -%>