<%- include("partials/header") -%>

    <main role="main">

        <!-- question -->

        <div class="container col-md-6">
            <h4>
                Reason page
            </h4>
            <hr>

            <form action="/question/report/<%= qid %>/<%= id %>" method="POST">

                <div class="form-group">
                    <label for="postBody">Your Reason</label>
                    <textarea name="report" class="form-control"></textarea>
                </div>

                <button class="btn bg-red text-white" type="submit" name="rbtn" value="<%= %>">Report</button>
            </form>
        </div>

    </main>

    <%- include("partials/footer") -%>
